config.log
*.lo
*.Plo
src/stamp-h1
src/Makefile
*.o
*.a
*.la
config.status
libtool
Makefile
src/arch.h
src/classlib.h
src/classlib-defs.h
src/classlib-excep.h
src/classlib-symbol.h
src/config.h
src/jamvm
*.Po
src/.libs/
src/interp/relocatability.inc
src/interp/engine/compute_relocatability
*.class
